* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

:root {
  --black: #1a201e;
  --emphasis: #45291b;
  --light-grey: #c8c8c8;
  --text-color: #9c9ab6;
  --background-button-hover: #cb9765;
  --container: 2.5rem;
}

header {
  padding-top: 1.25rem;
  margin-inline: var(--container);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 50vh;
}

header h1 {
  color: var(--emphasis);
  text-transform: uppercase;
}

.countdown ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.countdown li {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.countdown li span:nth-child(odd) {
  font-weight: lighter;
  font-size: 0.875rem;
  color: var(--light-grey);
}

.countdown li span:nth-child(even) {
  align-items: center;
  font-size: 3.62rem;
  color: var(--black);
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.countdown .icon:nth-child(-n + 3)::after {
  content: ' ';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-top: -18px;
  background-color: var(--black);
  box-shadow: 0px 18px 0px 0px var(--black);
}

header p {
  font-weight: lighter;
  color: var(--text-color);
  font-size: 0.875rem;
}

button {
  max-width: fit-content;
  padding: 10px 32px;
  margin-bottom: 60px;
  background-color: var(--emphasis);
  color: #ffff;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  transform: scale(1);
}

button:hover {
  transform: scale(0.96);
  background-color: var(--background-button-hover);
  color: var(--black);
  transition: all 0.5;
}

.img-curso {
  background-image: url(../assets/capa-countd.jpg);
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.modal {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: var(--light-grey);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  width: 60%;
  padding: 30px;
  border-radius: 4px;
}

.open {
  top: 20%;
  visibility: visible;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.closed {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.closed div {
  border: none;
  background-color: var(--black);
  width: 3px;
  height: 20px;
  border-radius: 2px;
}

.closed div:first-child {
  rotate: 45deg;
}

.closed div:last-child {
  position: relative;
  right: 2px;
  rotate: -45deg;
}

.modal form legend {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--emphasis);
  font-weight: 700;
}

.modal form input {
  padding: 10px;
  border: none;
  border-radius: 2px;
  color: var(--text-color);
}

.modal form button {
  margin-top: 20px;
}
@media only screen and (min-width: 1000px) {
  :root {
    --container: 3.75rem;
  }
  main {
    display: flex;
    gap: 20px;
  }

  .img-curso {
    height: 100vh;
    width: 60%;
  }

  header {
    width: 40%;
    height: 100vh;
    justify-content: center;
  }

  .modal {
    width: 50%;
    padding: 20px;
  }
  buttom {
    margin-bottom: 20px;
  }
}

@media (min-width: 481px) and (max-width: 999px) {
  .img-curso {
    height: 50vh;
  }

  button {
    margin-bottom: 10px;
  }
}
